body {
    font-family: Roboto;
    margin: 0;
    position: relative;
    overflow: hidden;
}

#chartContainer {
    padding: 30px;
    position: relative;
    transform: rotate(-45deg);
}

#myViz {
}

.label {
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    font-size: 12px;
    width: 80px;
    margin-left: -40px;
    text-align: center;
}

.label span {
    padding: 4px 8px;
    border-radius: 3px;
}

#topLabel.label {
    top: 5px;
}
#rightLabel.label {
    transform: rotate(90deg);
    right: -30px;
    left: auto;
}
#bottomLabel.label {
    top: auto;
    bottom: 0px;
    width: 120px;
    margin-left: -60px;
}
#leftLabel.label {
    right: auto;
    left: 10px;
    transform: rotate(-90deg);
}

.vizLegend {
    text-align: center;
    position: absolute;
    top: 20px;
}

.vizLegend div {
    pointer-events: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.5rem 0;
}

.vizLegend div.hidden {
    opacity: 0.2;
}

.vizLegend .color {
    pointer-events: none;
    width: 40px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid;
    vertical-align: text-top;
}

.vizLegend .legend {
    pointer-events: none;
}
